.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #fcf7f4;
}
body {
  font-family: Onest;
}
.display-1 {
  font-family: 'Onest', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Onest', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Onest', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-5 {
  font-family: 'Onest', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #8a5a44 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #d3b9bd !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #ae1e2c !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #8a5a44 !important;
  border-color: #8a5a44 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ab7156 !important;
  border-color: #ab7156 !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ab7156 !important;
  border-color: #ab7156 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info,
.btn-info:active {
  background-color: #d3b9bd !important;
  border-color: #d3b9bd !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #e7d8db !important;
  border-color: #e7d8db !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e7d8db !important;
  border-color: #e7d8db !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #da2637 !important;
  border-color: #da2637 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #8a5a44;
  color: #8a5a44;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #503427 !important;
  background-color: transparent !important;
  border-color: #503427 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8a5a44 !important;
  border-color: #8a5a44 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: #d4d4d4 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #d3b9bd;
  color: #d3b9bd;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #b2848b !important;
  background-color: transparent !important;
  border-color: #b2848b !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d3b9bd !important;
  border-color: #d3b9bd !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ae1e2c;
  color: #ae1e2c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #641119 !important;
  background-color: transparent !important;
  border-color: #641119 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ae1e2c !important;
  border-color: #ae1e2c !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #8a5a44 !important;
}
.text-secondary {
  color: #ffffff !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #d3b9bd !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #ae1e2c !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #462d22 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #cccccc !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #ac7a82 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #570f16 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #8a5a44;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #d3b9bd;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #ae1e2c;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8a5a44;
  border-color: #8a5a44;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #8a5a44;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c59c89;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e56773;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #8a5a44 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Onest', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #8a5a44;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #8a5a44;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #8a5a44;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #8a5a44;
  border-bottom-color: #8a5a44;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #8a5a44 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffffff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%238a5a44' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-unvrUAiuos {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-unvrUAiuos .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-unvrUAiuos .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-unvrUAiuos .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-unvrUAiuos .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0px !important;
}
.cid-unvrUAiuos .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-unvrUAiuos .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-unvrUAiuos .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
  margin-right: 0;
}
.cid-unvrUAiuos .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-unvrUAiuos .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-unvrUAiuos .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-unvrUAiuos .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-unvrUAiuos .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-unvrUAiuos .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-unvrUAiuos .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-unvrUAiuos .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-unvrUAiuos .nav-link {
  width: fit-content;
  position: relative;
}
.cid-unvrUAiuos .navbar-logo {
  padding-left: 2rem;
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-unvrUAiuos .navbar-logo {
    padding-left: 1rem;
  }
}
.cid-unvrUAiuos .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-unvrUAiuos .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-unvrUAiuos .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-unvrUAiuos .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
}
@media (max-width: 992px) {
  .cid-unvrUAiuos .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-unvrUAiuos .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-unvrUAiuos .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-unvrUAiuos .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #000000;
}
.cid-unvrUAiuos .nav-item:focus,
.cid-unvrUAiuos .nav-link:focus {
  outline: none;
}
.cid-unvrUAiuos .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-unvrUAiuos .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-unvrUAiuos .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-unvrUAiuos .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-unvrUAiuos .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-unvrUAiuos .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-unvrUAiuos .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-unvrUAiuos .navbar.opened {
  transition: all 0.25s;
}
.cid-unvrUAiuos .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-unvrUAiuos .navbar .navbar-logo img {
  width: auto;
}
.cid-unvrUAiuos .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-unvrUAiuos .navbar.collapsed {
  justify-content: center;
}
.cid-unvrUAiuos .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-unvrUAiuos .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-unvrUAiuos .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 5rem);
  }
}
.cid-unvrUAiuos .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-unvrUAiuos .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-unvrUAiuos .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-unvrUAiuos .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-unvrUAiuos .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-unvrUAiuos .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-unvrUAiuos .navbar {
    min-height: 72px;
  }
  .cid-unvrUAiuos .navbar .navbar-logo img {
    height: 2rem !important;
  }
}
@media (max-width: 991px) {
  .cid-unvrUAiuos .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-unvrUAiuos .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-unvrUAiuos .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-unvrUAiuos .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-unvrUAiuos .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-unvrUAiuos .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-unvrUAiuos .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-unvrUAiuos .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-unvrUAiuos .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-unvrUAiuos .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-unvrUAiuos .dropdown-item.active,
.cid-unvrUAiuos .dropdown-item:active {
  background-color: transparent;
}
.cid-unvrUAiuos .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-unvrUAiuos .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-unvrUAiuos .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-unvrUAiuos .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-unvrUAiuos .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-unvrUAiuos .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-unvrUAiuos ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-unvrUAiuos .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-unvrUAiuos .navbar-buttons {
    text-align: left;
  }
}
.cid-unvrUAiuos button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-unvrUAiuos button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-unvrUAiuos button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-unvrUAiuos button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unvrUAiuos button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-unvrUAiuos button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-unvrUAiuos nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unvrUAiuos nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-unvrUAiuos nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-unvrUAiuos nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-unvrUAiuos .navbar-dropdown {
  padding: 0;
  background-color: #000000 !important;
  position: fixed;
}
.cid-unvrUAiuos .opacityScroll {
  background: rgba(0, 0, 0, 0) !important;
}
.cid-unvrUAiuos a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-unvrUAiuos .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-unvrUAiuos .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-unvrUAiuos .navbar {
    height: 70px;
  }
  .cid-unvrUAiuos .navbar.opened {
    height: auto;
  }
  .cid-unvrUAiuos .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-unvrUAiuos .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-unvrUAiuos .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-unvrUAiuos .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-unvrUAiuos .navbar-brand {
    margin-right: auto;
  }
  .cid-unvrUAiuos .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #000000;
    backdrop-filter: blur(8px);
  }
  .cid-unvrUAiuos .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-unvrUAiuos .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-unvrUAiuos .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-unvrUAiuos .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-unvrUAiuos .navbar-collapse {
    left: -0.7rem;
    width: 106%;
    border-radius: 0;
  }
}
@media (max-width: 991px) and (min-width: 768px) and (max-width: 991px) {
  .cid-unvrUAiuos .navbar-collapse {
    left: 0rem;
    width: 106%;
    border-radius: 0;
  }
}
@media (max-width: 575px) {
  .cid-unvrUAiuos .navbar-collapse {
    padding: 1rem;
  }
}
.cid-unvVnCdhDC {
  display: flex;
}
@media (min-width: 768px) {
  .cid-unvVnCdhDC {
    align-items: flex-end;
  }
  .cid-unvVnCdhDC .row {
    justify-content: center;
  }
  .cid-unvVnCdhDC .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-unvVnCdhDC .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-unvVnCdhDC {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-unvVnCdhDC .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-unvVnCdhDC .content-wrap {
    width: 100%;
  }
}
.cid-unvVnCdhDC .mbr-section-title,
.cid-unvVnCdhDC .mbr-section-subtitle {
  text-align: center;
}
.cid-unvVnCdhDC .mbr-text,
.cid-unvVnCdhDC .mbr-section-btn {
  text-align: left;
}
.cid-unw9z3ZeM4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000000;
}
.cid-unw9z3ZeM4 img,
.cid-unw9z3ZeM4 .item-img {
  width: 100%;
  height: 100%;
  height: 500px;
  object-fit: cover;
}
.cid-unw9z3ZeM4 .item:focus,
.cid-unw9z3ZeM4 span:focus {
  outline: none;
}
.cid-unw9z3ZeM4 .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-unw9z3ZeM4 .item {
    margin-bottom: 1rem;
  }
}
.cid-unw9z3ZeM4 .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-unw9z3ZeM4 .item-content {
    padding: 0 1.5rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-unw9z3ZeM4 .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}
.cid-unw9z3ZeM4 .item-wrapper {
  position: relative;
  background: #edefeb;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-unw9z3ZeM4 .item-wrapper .item-footer {
  margin-top: auto;
}
.cid-unw9z3ZeM4 .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-unw9z3ZeM4 .item-title {
  text-align: center;
}
.cid-unw9z3ZeM4 .item-subtitle {
  text-align: left;
}
.cid-unw9z3ZeM4 .mbr-text,
.cid-unw9z3ZeM4 .item .mbr-section-btn {
  text-align: center;
}
.cid-unw9z3ZeM4 .content-head {
  max-width: 800px;
}
.cid-unSJJE9CkW {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/pai-600x500.webp");
}
.cid-unSJJE9CkW .mbr-overlay {
  background-color: #000000;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .cid-unSJJE9CkW {
    align-items: flex-end;
  }
  .cid-unSJJE9CkW .row {
    justify-content: center;
  }
  .cid-unSJJE9CkW .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-unSJJE9CkW .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-unSJJE9CkW {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-unSJJE9CkW .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-unSJJE9CkW .content-wrap {
    width: 100%;
  }
}
.cid-unSJJE9CkW .mbr-section-title,
.cid-unSJJE9CkW .mbr-section-subtitle {
  text-align: center;
}
.cid-unSJJE9CkW .mbr-text,
.cid-unSJJE9CkW .mbr-section-btn {
  text-align: center;
}
.cid-unvpwbwaSR {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-unvpwbwaSR .item-wrapper img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50% !important;
}
.cid-unvpwbwaSR .item-wrapper {
  margin-bottom: 2rem;
}
.cid-unvpwbwaSR .card-title,
.cid-unvpwbwaSR .iconfont-wrapper {
  color: #000000;
}
.cid-unvpwbwaSR .card-text {
  color: #ffffff;
  text-align: center;
}
.cid-unvpwbwaSR .content-head {
  max-width: 800px;
}
.cid-unvpwbwaSR .mbr-section-title {
  color: #ffffff;
}
.cid-unvpwbwaSR .card-title,
.cid-unvpwbwaSR .img-wrapper {
  text-align: center;
  color: #ffffff;
}
.cid-unvpwbwaSR .img-wrapper {
  display: flex;
  justify-content: center;
}
.cid-unN42bNVLO {
  display: flex;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/mulher-fazendo-massagem-nuru-com-as-maos-nas-costas-de-um-homem.jpg.webp");
}
.cid-unN42bNVLO .mbr-overlay {
  background-color: #000000;
  opacity: 0.7;
}
@media (min-width: 768px) {
  .cid-unN42bNVLO {
    align-items: flex-end;
  }
  .cid-unN42bNVLO .row {
    justify-content: center;
  }
  .cid-unN42bNVLO .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-unN42bNVLO .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-unN42bNVLO {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-unN42bNVLO .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-unN42bNVLO .content-wrap {
    width: 100%;
  }
}
.cid-unN42bNVLO .mbr-section-title,
.cid-unN42bNVLO .mbr-section-subtitle {
  text-align: center;
}
.cid-unN42bNVLO .mbr-text,
.cid-unN42bNVLO .mbr-section-btn {
  text-align: center;
}
.cid-unvpwbwh57 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-unvpwbwh57 .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-unvpwbwh57 .panel-group {
  border: none;
}
.cid-unvpwbwh57 .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-unvpwbwh57 .card-header {
    padding: 0rem;
  }
}
.cid-unvpwbwh57 .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-unvpwbwh57 .img-col {
  padding: 0;
}
.cid-unvpwbwh57 .img-item {
  height: 100%;
}
.cid-unvpwbwh57 img {
  height: 100%;
  object-fit: cover;
}
.cid-unvpwbwh57 .collapsed span {
  transform: rotate(0deg);
}
.cid-unvpwbwh57 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-unvpwbwh57 p {
  margin-bottom: 0.3rem;
}
.cid-unvpwbwh57 .panel-title-edit {
  color: #000000;
}
.cid-unvpwbwh57 .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-unvpwbwh57 .card {
  background: #edefeb;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-unvpwbwh57 .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-unvpwbwh57 .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-unvpwbwh57 .panel-text {
  color: #000000;
}
.cid-unvpwbwh57 .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-unvpwbwh57 .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-unvpwbwh57 .panel-title-edit,
.cid-unvpwbwh57 .mbr-iconfont {
  color: #000000;
}
.cid-unUYM646rz {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/product-2-1366x768.webp");
}
.cid-unUYM646rz .mbr-overlay {
  background-color: #000000;
  opacity: 0.6;
}
@media (min-width: 768px) {
  .cid-unUYM646rz {
    align-items: flex-end;
  }
  .cid-unUYM646rz .row {
    justify-content: center;
  }
  .cid-unUYM646rz .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-unUYM646rz .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-unUYM646rz {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-unUYM646rz .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-unUYM646rz .content-wrap {
    width: 100%;
  }
}
.cid-unUYM646rz .mbr-section-title,
.cid-unUYM646rz .mbr-section-subtitle {
  text-align: center;
}
.cid-unUYM646rz .mbr-text,
.cid-unUYM646rz .mbr-section-btn {
  text-align: center;
}
.cid-unwmuhFp1P {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #000000;
}
@media (max-width: 767px) {
  .cid-unwmuhFp1P .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-unwmuhFp1P .mbr-text {
  color: #767676;
}
.cid-unwmuhFp1P .links {
  color: #edefeb;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-unwmuhFp1P .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-unwmuhFp1P .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-unwmuhFp1P .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-unwmuhFp1P .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-unwmuhFp1P .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-unwmuhFp1P .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-unwmuhFp1P .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-unwmuhFp1P .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-unwmuhFp1P .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-unwmuhFp1P .copyright > p {
  text-align: left;
  color: #f0f3e4;
}
