* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "arial";
}

/* header*/

.header-inner-content {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  background-color: #2c2c2c;
  padding: 1rem;
  position: sticky;
  top: 0;
  box-shadow: 10px 0px 10px #2c2c2c;
  z-index: 99;
}

.navbar > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  color: #ff0000;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}

.nav-icon-container img {
  width: 30px;
  cursor: pointer;
}

.nav-icon-container img:first-child {
  margin-right: 10rem;
}

nav ul li {
  color: #fff;
  margin-right: 1.5rem;
  cursor: pointer;
}

nav ul li:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
  font-weight: bold;
}

.menu-button {
  display: none;
}

header {
  background-image: radial-gradient(#fff, #c7c7c7);
}

.header-bottom-side {
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.header-bottom-side-left {
  height: 100%;
  flex-basis: 50%;
}

.header-bottom-side-left h2 {
  font-size: 3.2rem;
  margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.header-bottom-side-left button {
  background-color: #ff0000;
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.header-bottom-side-left button:hover {
  background-color: #770808;
}

.btnVermais {
  background-color: rgb(4, 88, 32);
  border: none;
  cursor: pointer;
  padding: 0.8rem 3.8rem;
  border-radius: 9999px;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.header-bottom-side-right {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-side-right img {
  width: 90%;
}

/* Media Queries */
@media (max-width: 800px) {
  .logo {
    font-size: 1.2rem;
  }

  .menu-button {
    display: block;
  }

  .header-bottom-side {
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
  }

  nav {
    position: absolute;
    background-color: #2c2c2c;
    width: 100%;
    top: 46px;
    display: none;
  }

  .show-menu nav {
    display: block;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    text-align: center;
    padding: 0.8rem;
  }
}

/* Header */

/* Main Content */
main {
  background-color: #ebebeb;
}
.gray-background {
  background-color: #2c2c2c;
}

.page-inner-content {
  max-width: 1280px;
  margin: 0 auto;
}

.cols {
  display: grid;
  justify-content: space-evenly;
  padding: 4rem 1rem;
}

.cols-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.cols-3 img {
  max-width: 100%;
  border-radius: 0.5px;
}

.cols-4 img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 2px #5e5d5d;
}

.cols-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.cols > * {
  cursor: pointer;
  transition: all 0.2s;
}

.cols > *:hover {
  transform: translateY(-5px);
}

.section-title {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.8rem;
}

.subtitle-underline {
  width: 100px;
  height: 5px;
  background: #ff0000;
  border-radius: 9999px;
  margin: 8px auto 0 auto;
}

.product {
  color: #2c2c2c;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: 600;
  margin-top: 0.4rem;
}

.rate {
  color: #f7e70a;
  font-size: 1.3rem;
}

.product-price span {
  font-weight: 600;
}

.exclusive-container {
  color: #fff;
  flex-direction: row-reverse;
  padding: 5rem 1rem;
}

.exclusive-container img {
  max-width: 1800px;
}

/* Media queries */

@media (max-width: 800px) {
  .section-title {
    font-size: 1rem;
  }

  .cols-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cols-4 {
    grid-template-columns: (2, 1fr);
  }

  .product-name,
  .product-price,
  .rate {
    max-height: 1rem;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .exclusive-container {
    flex-direction: column-reverse;
    display: flex;
  }

  .exclusive-container img {
    margin-bottom: 4rem;
  }
}

/* Main content */

/* Testimonials */
.testimonials {
  display: flex;
  padding: 4rem 1rem;
  justify-content: space-evenly;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 30%;
  text-align: center;
  box-shadow: 0 0 15px #afafaf;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.testimonial:hover {
  transform: translateY(-5px);
}

.testimonial p {
  margin: 5px 0;
}

.testimonial p:first-child {
  font-weight: bold;
  font-size: 5rem;
  color: #eff306;
  margin-top: 3rem;
  line-height: 2rem;
}

.testimonial p:last-child {
  font-weight: bold;
}

/* Media queries */
@media (max-width: 880px) {
  .testimonials {
    flex-direction: column;
  }
  .testimonial {
    margin-bottom: 1.2rem;
  }
}

/* Footer */
.footer-content {
  display: flex;
  align-items: center;
  color: #8f8f8f;
  padding: 4rem 1rem;
  gap: 2rem;
}
footer {
  background-color: #333; /* Cor de fundo do footer */
  color: #fff; /* Cor do texto no footer */
  padding: 20px 0; /* Espaçamento interno superior e inferior */
}

.footer-inner-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Largura máxima do conteúdo interno */
  margin: 0 auto; /* Centralizar o conteúdo */
}

.footer-about,
.footer-contact,
.footer-social {
  flex-basis: calc(33.33% - 10px); /* Divide o espaço em 3 colunas */
}

.footer-about,
.footer-contact {
  margin-right: 20px; /* Espaçamento entre as colunas */
}

.footer-about h4,
.footer-contact h4,
.footer-social h4 {
  margin-bottom: 10px; /* Espaçamento inferior para os títulos */
}

.footer-social a {
  color: #fff; /* Cor dos ícones das redes sociais */
  font-size: 20px; /* Tamanho dos ícones */
  margin-right: 10px; /* Espaçamento entre os ícones */
}


.download-options > p:first-child {
  font-weight: bold;
  color: #fff;
}

.dowload-options > div {
  display: flex;
}

.dowload-options > div img {
  width: 180px;
}

.logo-footer {
  text-align: center;
}

.links-footer h3 {
  color: #fff;
  margin-bottom: 0.8rem;
}

.links-footer ul {
  list-style: none;
}

.links-footer ul li {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.copyright {
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

/* Media queries */
@media (max-width: 800px) {
  .footer-content {
    display: inline;
    font-size: 0.8rem;
  }

  .footer-content > div {
    padding: 1rem;
  }

  .dowload-options > div {
    display: inline;
  }
  .dowload-options > div img {
    width: 120px;
  }
  .copyright {
    font-size: 0.8rem;
  }
}

/* Estilos do modal */
#myModal {
  display: none; /* Ocultar o modal por padrão */
  position: fixed; /* Posição fixa */
  z-index: 9999; /* Z-index alto para garantir que o modal apareça na frente de outros elementos */
  left: 50%; /* Coloca o modal na metade da largura da tela */
  top: 50%; /* Coloca o modal na metade da altura da tela */
  transform: translate(-50%, -50%); /* Centraliza o modal vertical e horizontalmente */
  width: 90%; /* Largura do modal */
  max-width: 1000px; /* Define uma largura máxima para o modal */
  max-height: 100%; /* Limitar a altura do modal */
  overflow: auto; /* Adicionar rolagem se o conteúdo for maior que a janela */
  background-color: #fefefe; /* Fundo do modal */
  border: 1px solid #888; /* Adiciona uma borda ao modal */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao modal */
}

.modal-content {
  padding: 40px; /* Espaçamento interno do conteúdo do modal */
}

.close {
  color: #aaa; /* Cor do botão de fechar */
  position: absolute; /* Posição absoluta para o botão */
  top: 20px; /* Distância do topo */
  right: 20px; /* Distância da direita */
  font-size: 28px; /* Tamanho da fonte do botão */
  font-weight: bold; /* Negrito para o botão */
  cursor: pointer; /* Altera o cursor para o botão */
}

.close:hover,
.close:focus {
  color: black; /* Cor do botão de fechar ao passar o mouse */
  text-decoration: none; /* Remove a decoração de texto ao passar o mouse */
}

/* Estilo para as imagens dentro do modal */
.modal-content img {
  max-width: 100%; /* Garantir que a imagem não exceda a largura do modal */
  height: auto; /* Manter a proporção da imagem */
}

/* Estilos para o elemento de sobreposição */
#overlay {
  display: none; /* Oculta o elemento de sobreposição por padrão */
  position: fixed; /* Posição fixa */
  top: 0; /* Alinha o elemento de sobreposição ao topo da janela */
  left: 0; /* Alinha o elemento de sobreposição à esquerda da janela */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  background-color: rgba(0, 0, 0, 0.5); /* Cor escura com transparência */
  z-index: 9998; /* Z-index menor que o modal para que fique por trás dele */
}

/* Media queries para tornar o modal responsivo */
@media only screen and (max-width: 600px) {
  #myModal {
    width: 95%; /* Reduz a largura do modal para telas menores */
  }
}

@media only screen and (max-height: 400px) {
  #myModal {
    max-height: 80%; /* Reduz a altura máxima do modal para telas com altura menor */
  }
}
